html{
    min-height:100%;
}

body {
    background-image: linear-gradient(to right top, #051937, #01214d, #002863, #042f79, #163590);
    background-repeat: no-repeat;
    min-height:100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen'
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*{
    margin : 0px;
    -webkit-padding-start: 0;
}

@media only screen and (max-width: 1000px){
    .navbar{
        display: flex!important;
        height: 50px !important;
        align-content: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    .logo {
        font-size: 25px !important;
        align :center;
    }
    .links {
        display:none;
    }
}
