html{
    min-height:100%;
}

body {
    background: linear-gradient(to bottom left, #000000, rgb(0, 74, 173)); 
    min-height:100% !important; 
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen' ,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*{
    margin : 0px;
    -webkit-padding-start: 0;
}

@media only screen and (max-width: 1000px){
    .navbar{
        display: flex!important;
        height: 50px !important;
        align-content: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    .logo {
        font-size: 25px !important;
        align :center;
        padding : 0px!important;
    }
    .links {
        display:none;
    }
    .lplogo{
        width:200px;
        height:150px;
    }
    .reachlogo{
    flex-direction :column !important;
    grid-gap : 40px;
    }
    .maintext{
        padding : 40px!important;
    }
    .ptext{
        font : 15px;
    }
}
