html{
    min-height:100%;
}

body {
    background: linear-gradient(to bottom left, #000000, #000); 
    min-height:100% !important; 
    font-family: 'JetBrains Mono', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen' ,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.2em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*{
    margin : 0px;
    -webkit-padding-start: 0;
}
html {
  scroll-behavior: smooth;
}

@media only screen and (max-width: 1000px){
    .navbar{
        display: flex!important;
        height: 50px !important;
        align-content: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    .logo {
        font-size: 25px !important;
        align :center;
        padding : 0px!important;
    }
    .links {
        display:none!important;
    }
    .lplogo{
        width:200px;
        height:150px;
    }
    .reachlogo{
    flex-direction :column !important;
    grid-gap : 30px !important;
    }
    .maintext{
        font-size : 1.2em!important;
        align-content: center;
        justify-content: center;
        align-text: center;
    }
    .ptext{
        text-align : center !important;
    }
    .mainp{
        font-size : 16px!important;
    }
    .about{
        padding : 20px!important;
    }
    .last{
        padding : 20px !important;
    }
    .aboutthings{
        padding : 32px!important;
    }
    .probthings{
        padding :32px !important;
    }
    .probdiv{
        padding : 20px;
    }
    .abouthead{
        font-size : 19;
    }
    .abouttext1{
        display : none!important;
    }
    .abouttext2{
        font-size : 0.9em;
    }
    .tlist{
        padding-left : 30px!important;
    }
    .plist{
        padding : 20px !important;
    }
}
body::-webkit-scrollbar {
    width: 8px;
}
body::-webkit-scrollbar-thumb {
    background-color:rgb(30,255,0);
    border-radius: 5px;
}
body::-webkit-scrollbar-track {
    background: transparent;
}

h1, h2, h3, h4, h5, h6, button {
    color: #4dff00;
    font-family: 'VT323', monospace;
    text-decoration: underline;
}

.emphasis {
    font-size: 1.5em;
    color: #4dff00;
    font-family: 'VT323', monospace;
    text-decoration: underline;
}
