/*
 * Landing css File
*/

.Landing {
    /* propertys here */
}
.mainlogo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top : 20px;
    padding-bottom : 20px;
}


.timer{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 13px;
}

.timecard{
    font-weight: bold;
    border-radius : 15px;
    background-color: rgba(0, 0, 0, 0.5);
    font-family: "JetBrains Mono", monospace;
    color :white;
    font-size: 23px;
    padding : 18px;
    letter-spacing: 1.5px;
    align-items: center;
    vertical-align: middle;
}

.register{
    display : flex;
    align-items: center;
    justify-content: center;
    padding : 60px 40px 17px 40px;
}

.registerbutton{
    padding-left : 30px;
    padding-right : 30px;
    padding-top : 20px;
    padding-bottom : 20px;
    font-size : 25px;
    border: 3px solid #4dff00;
    background: transparent;
    font-weight : bold;
    color:white;
    margin: 1em;
}

.platformlink{
    color :  rgb(0, 255, 76);
}
