.navbar{
    display : flex;
    background-color: rgba(0, 0, 0, 0.5);
    height:90px;
    align-items: center;
    margin: var(--gutter);
    color: #4dff00!important;
    font-family: 'VT323', monospace !important;
    text-decoration: underline;
}
.links{
    display : flex;
    list-style: none;
    font-size: 20px;
    padding-right: 70px;
    margin-left: auto;
    grid-gap : 60px;
}
.logo{
    list-style: none;
    font-size: 3rem;
    letter-spacing: 1.5px;
    padding-left : 50px;
}
.linktext{
    font-size : 2rem;
}
a{
    color:white;
    text-decoration:none;
}
.campus{
    font-size : 1.7rem;
    text-decoration: none!important;
}
.cshidden{
    display: none;
}
