.navbar{
    display : flex;
    background-color: rgba(0, 0, 0, 0.5);
    height:90px;
    align-items: center;
    margin: var(--gutter);
    font-family: "Roboto", sans-serif;
}
.links{
    display : flex;
    list-style: none;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    padding-right: 70px;
    margin-left: auto;
    grid-gap : 60px;
}
.logo{
    list-style: none;
    font-family: "JetBrains Mono", monospace !important;
    font-size: 2rem;
    letter-spacing: 1.5px;
    padding-left : 50px;
}
.linktext{
    font-size : 30px;
}
a{
    color:white;
    text-decoration:none;
}



