.linkmain{
    display : flex;
    justify-content: center;
    align-items: center;
    padding : 60px;
    flex-direction: column;
    color: #4dff00;
    font-family: 'VT323', monospace;
    font-size : 1.8rem;

}

.maintext{
    display: flex;
    align-items : center;
    justify-content: center;
    font-size : 2.4rem;
}
.mainp{
    color : white !important;
    font-size : 2.4rem;
}

.reachlogo{
    display: flex;
    align-items : center;
    justify-content: center;
    padding : 20px;
    grid-gap : 90px;
}

.logocap{
    font : 20px;
    color : white !important;
}

.logopcap{
    display : flex;
    flex-direction : column;
    justify-content: center;
    align-items : center;
}

.linkmain{
    padding : 40px;
}

.emphasis {
    font-size: 1.5em;
    color: #4dff00;
    font-family: 'VT323', monospace;
    text-decoration: underline;
}
